/*#region html*/
html,body{
    scroll-behavior:smooth;
    height: 100%;
}
body {
    overflow: auto;
     background-color: rgb(36, 2, 2);
    overflow-x: hidden;
 

}
p {
    margin-top: 20px;


}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
a {
    color: Gainsboro;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: Lucida Console;
}
li {
    float: left;
    text-align: center;
}

li a {

    color: Gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-family: Lucida Console;

}
/*#region html*/

/*#endregion row*/

/*#endregion row*/

/*#region Row*/

/*#endregion Row*/

/*#region Home*/
.home {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100vh;




}

.home-navbar {
    padding-top: 15px;
    width: 600px;
    height: 50px;
    display: block;
    position: fixed;
    top: 15px;;
    padding-left: 50px;
   

}

.home-content img {
width: 50px;
height: 50px;
}
.home-content>h1 {

    font-size: 500%;
    text-align: center;
    color: white;
    text-shadow: wheat;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.071;
    text-shadow: 0 0 20px rgb(0 0 0 / 50%);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
    float: auto;

}

.home-content>h5 {

    font-size: 250%;
    text-align: center;
    color: #00768C;
    font-family: "poppins-bold", sans-serif;
    line-height: 1.565;
    text-shadow: 0 0 6px rgb(0 0 0 / 20%);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;



}

.home-sumary>span {
    font-family: "lora-regular", serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

}


.home-content .home-sumary span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
}

.home-content .home-sumary span:first-child::before {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, 0.3);
}

/*#endregion Home */

/*#region About*/

.about {
   
    text-align: center;
    color: white;
    width: auto;
   min-height: 100vh;
    background-color:  rgba(40, 0, 0, 0.2);

 



}
.about .left-side {


    margin-top: 75px;
    padding-top: 110px;
    display: block;
    border-right: gray 2px solid;



}
.about .left-side .img  {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}


.about .right-side {
    padding-left: 50px;
    margin-top: 75px;
    padding-top: 20px;
    padding-right: 50px;
    display: block;
   

}
/*#endregion About */

/*#region Portfolio*/
.portfolio {
    width: auto;
    min-height: 100vh;
    padding-top: 30px;

    color: white;
    background-color:  rgba(23, 2, 29, 0.4);

    scroll-behavior:smooth;

}
.portfolio .portfolio-content{
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;


   
}
.portfolio .col{
min-width: 250px;
height: 500px;

}
.project{
    box-sizing: border-box;
    display: block;

padding-top: 5px;
margin-left: auto;
margin-right: auto;
 width: 99%;
 height:96%;
 background-color: rgba(65, 60, 60, 0.2);
 

}
.project-art{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
   
    height: 70%;
    background-color: black;
}

.portfolio .portfolio-content-extra{
    padding-top: 40px;
    align-items: center;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

   


   
}

.project-description{
    padding-top: 5px;;
    text-align:  center;
    width: 96%;
 
    margin-left: auto;
    margin-right: auto;

   

}
/*#endregion Portfolio*/

/*#region Contact*/
.contact {
    width: auto;
    min-height: 100vh;
    display: block;
 
}
.contact-content {
    padding-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.contact-content .r{

    
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.cr {
    
   background-color: blue;
   height: 300px;
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;



}
.cl {
    
   background-color: red;
   height: 300px;

 
 }
.contact-content img {
    padding-top: 50px;

}

/*#endregion Contact*/


.svg{

    background-color:black;
    width: 100%;
    height: 900px;
    position: fixed;
    top:0px;
   }
   .content {
    
    width: 100%;
 
    position: relative;
    margin-left: auto;
    margin-right: auto;

   }
       

   .nav-active {
    color: black;
    background-color: white;


}


.carousel {
    background-color:transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  
   
}
.card-body{
    color: white;
    background-color: transparent;
}
.card{

background-color:  transparent;
}
.portfolio h1 {

    font-size: 300%;
    text-align: center;
    color: white;
    text-shadow: wheat;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.071;
    text-shadow: 0 0 20px rgb(0 0 0 / 50%);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
    float: auto;

}

#icones {
   
    width: 250px;
    height: 50px;
    position: fixed;
    top: 85vh;
    right: 2%;
   
  
   

}

@media(min-width:577px)and (max-width:767px){
    .home-content img{

        width: 30px;
        height: 30px;

    } 
    
     }

     @media(max-width:576px){
        img{
    
            width: 30px;
            height: 30px;

    
        } 
       .col{
  width: 100px

       } 
        
         }










